/* page style */

:focus{outline: none;}

input[type="text"]{color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.input_form{
  font-size: 45px;
  color: #333;
  width: 100%;
}

input[type="text"]{
  border: 3px solid;
  font-size: 45px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.btn1{
  border: 3px solid;
  font: 80px "Lato", Arial, sans-serif;

}








/* (A) GRID LAYOUT */
.grid {
    display: grid;
    grid-gap: 10px;
  }
   
  /* (B) OPTIONAL - CELLS */
  .head, .cell { padding: 10px; }
  .head {
    font-weight: 700;
    border: 1px solid #f18e8e;
    background: #ffbfbf;
  }
  .cell {
    border: 1px solid #c2ba3c;
    background: #f8ffde;
  }